[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
npyscreen = "*"
toml = "*"

[requires]
python_version = "3.4"

[dev-packages]
yapf = "*"
colour-runner = "*"
pyfakefs = "*"
